{% extends 'bezoeker.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

    {{ form_row(registrationForm.voornaam) }}
    {{ form_row(registrationForm.tussenvoegsel) }}
    {{ form_row(registrationForm.achternaam) }}
    {{ form_row(registrationForm.email) }}


    {{ form_row(registrationForm.geboortedatum) }}
    {{ form_row(registrationForm.gender) }}

    {{ form_row(registrationForm.adres) }}
    {{ form_row(registrationForm.postcode) }}
    {{ form_row(registrationForm.woonplaats) }}

        {{ form_row(registrationForm.agreeTerms) }}
    {{ form_end(registrationForm) }}
{% endblock %}
